body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cursor-auto{
  cursor: auto !important;
}

.float-right{
  float: right;
}

#root a:active,
#root a:focus,
#root a:link,
#root a:visited
{
  text-underline: none;
  outline: none;
}

body, html{
  font-family: "lucida Grande",Verdana,"Microsoft YaHei";
}

.flex {
    display: flex;
}

.gray-5 {
    color: #d9d9d9;
}

.gray-6 {
    color: #bfbfbf;
}

.gray-7 {
    color: #8c8c8c;
}

.gray-8 {
    color: #595959;
}

.gray-9 {
    color: #262626;
}

.bold {
    font-weight: bold;
}
